# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python 
__pycache__/

# test
*test.cc
*test.cpp

# test files
*test.py
*examples
testing.py

# input/output/expected/
*_input.txt
*_expected.txt
*_output.txt
in.txt
ou.txt
ex.txt
*.zip

# Source code testing
!tests/container/encoding.test.cc
!tests/test.py

# Other Things
googleKickStart/2018/
*checks.json