# Copyright (c) BrandonPacewic
# SPDX-License-Identifier: MIT

__pycache__/
.vs/
.vscode/
/build/
/out/
/specs/
compile_commands.json
/configs/

# Kbuild artifacts
*.o
*.a
*.cmd
*.d_
.config
/include/config/
/include/generated/
built-in.a

# Test and benchmark binaries
tests/**/test
benchmarks/**/bench
